<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Librairie en Ligne</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleIndexPages.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <div class="container-menu">
            <div class="menu-bar">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/book_logo.png" alt="Logo du Catalogue de Livres">
                </a>
                <span class="menu-toggle">Menu</span>
                <nav class="menu-nav">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Livres" asp-action="Index">
                                <button type="button">Catalogue</button>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Users" asp-action="Index">
                                <button type="button">Compte</button>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Baskets" asp-action="Index">
                                <button type="button">Paiement</button>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                                <button type="button">Privacy</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav class="menu-nav-mobile">
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Livres" asp-action="Index">
                            <button type="button">Catalogue</button>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Users" asp-action="Index">
                            <button type="button">Compte</button>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Baskets" asp-action="Index">
                            <button type="button">Baskets</button>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">
                            <button type="button">Privacy</button>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-fluid p-0">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; <strong>2025</strong> Catalogue de Livres. Tous droits réservés.</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>